language: node_js
os:
- linux
node_js:
- '10'
services:
- docker
env:
  global:
  - REGION=cn-hongkong
  - TIMEOUT=600
  - RETRIES=3
  - FUN_VERSION=v3.0.8
  # ACCOUNT_ID
  - secure: Y7ewyW45eKLDhsy0MBtThTsfBoiQOb3RUKOb0uaKOvTQj6RbH0X2ZNaizv+eURxS7cxmjFt7v9/XHBvnweLRKOS51fqhqa/OyGZQoyXOUSzTLX5x+qFR0WB7Qqr0DSTXe/1kIdvxNM4QgkIZLKfigxaLcMRun5rU7tkx3rFhCWlZ7AqhdBH9MbTPZCefzqFWd/GczOfN8vYuBfEMql4HrsdzrLif0elI2cJeznJz0yXYO0CFbFA3oW8hg3inQbLQHiU79HasSBsIuaDba59/zQAN0sWtTSJWNj8TYgHFEwOEjsTO5d5lhk4JPEJNdP8JM3nJWWFITpoJEc5HewJi7+1Xl9RBzlY0qnmeSq2rSr24p/jMmyTWnaylV/YAG/b4Zm0eZLX0m1OT90Pvjz9qD+g9oe62Z4DPXavnXBYiufzIHSEXrWdoMuldoq+e706kJudm4O0IQwuD6e8ihKSRnI9/kfV4LIZvgwkkfUEuK6HSCKYUa/05Omtu/wCsk2f8Ka6xM5HjmQ6GEHmbMJE977jzmeavM2e7akMrhdxBgcSCe4vk1hgUX1AnoopbGKb4lQnJIyboGKgZWm+xIJjo+Ilit1ZMIz7QHZ/mhG5jKk4u1xf5Iqubesd+5TVB0ke9xAe7FQCIgFh3vX+3aGah8GL6GJDaaQFLf10Nm/UvJFc=
  # ACCESS_KEY_ID
  - secure: jtC2EIq/wOGtMczx9WYaSaO1FzGlO6wcm68IYDqDgQ2RPeuSzWH4TzhG9Q+fY8EQ6kcUYIfPuTaorKt7tXmgoSPS3l/6xOl8EfC2T7YItUs8G6RRWpFB5NeSS911PSQCwMUJs6padDkbeGdDQ3Y309MNJlgIqfVJMLclM4onLUHIwnGzk4s5r2AKIaYI97rcvgf6Z2izlBnHUdG9Sm4RQuxlDLtbAQCuJsoTNK4FcUpxtOUzA0dDDWwSfQvIb3xoIm3MCFP5AkkPTOp2zTLJOo8aHbyefHX71hO0RKg+jw2+/y6ocPucb6sdATR8LDqVKmKvkls9VDCqNzm3KlnSIBdMgaLxZAqLqp7bRph+S3lTg23i4EwWkBjsHq1AilT3BfhWm7EeIesSERzto8b2w9k7xHsC/iegS354b7uaEKLDpuvqsL/HhUqtlI8DuDJu5wpeqQIGFr9c13QZeIr4Q8bIIlYBU1SizOz5HTD5dGrfTw/gp9n/lrP6Iq3JqHwP7EJrZ0jP7itLL0XFi5WRnK3mff/0CLNZx3KEHgdUFqhVkEdMLDZtJJFgXJsFyXnHf/+x48mmvXSTCNyNZ7hScRW4wmYIYiy7zaWTGfk/NialRWnbRz1LhUkclonawdxNk87v2ppnh9I2q8t0GKf/obw9n38bnuG0a+Y+KRt6Zxw=
  # ACCESS_KEY_SECRET
  - secure: XUFegQWPkQrKK9TszrAP3OvFPGoGqDtXih81JXDCjLwke3wLAOqg3x7BlX2PI0EMSSCtWmKJMn4Nw0iwUOve1crePBkYOIbS1x65z3hdPhrmCkYeXxTGMVHuzjwAcil+DfX0H4Tl0VpWRNSbNktNmdAiSAlItFCzu9enoEhbrSyYhvxSY5/fTk+LKbze6PeF5Aznfum3jbGIZMb3I+ii/KugrrdDv6r/WDv2Wtd45wA4DfyVIN9xKHLoONp7CH/d8ULBqED+MMi/HnXC63//W/zvvMyZfdXBD9hk3OjPTmC2FB2k1a6h3xm4b+DXof614BEJvMCodoV0dz3QviM29neMJ/eOtlP6APX/vW0p3KlNNiXlKi2Xn7R0JfYy4joSlcVSXQUL7h/kPsLptt43v8qeg34z8n8AzAFemmLeOYuqmPs2HzvZ0ObjBelDIZpzyTMn/vLnK38cJbeyncCpF9/sCpYc7KTm6paCOnGiItPJloBS5sdrjTuKL12mdr2VEGRqEpicRtaN0CPKYh0HP/qVRs8+3X1HpH1fsqGLh+LlHqtEgG/xzHKBW83cxFjElmffYokfjunGD1iW3iXvGm7B8jIcoObGx/5NyMN9EDNKOw3Vupggp+Dj5nR2vmZdosE9sbKg+5JwwSUc+qgj94k1q4IPZwIky9oPxgd2w4o=
before_install:
- curl https://gosspublic.alicdn.com/fun/fun-${FUN_VERSION}-linux.zip -o fun.zip
- unzip fun.zip
- sudo mv fun-${FUN_VERSION}-linux /usr/local/bin/fun
- curl -L https://github.com/aliyun/aliyun-cli/releases/download/v3.0.29/aliyun-cli-linux-3.0.29-amd64.tgz -o aliyun-cli.tgz
- tar xzvf aliyun-cli.tgz
- sudo mv aliyun /usr/local/bin/aliyun
- sudo apt-get install jq
- docker pull aliyunfc/runtime-nodejs10:1.6.8
install:
- make install
script:
- make unit-test
- make integration-test
- make package
- make e2e-test
- make deploy
